h1 {
    text-align: center;
}

main {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

#player-container {
    height: 25rem;
    border: 1px solid black;
    overflow-y: auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
}

#input {
    font-size: 1.5rem;
    position: sticky;
    top: 0;
}

#list-players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

#list-players > li, .selected-players {
    list-style-type: none;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 10rem;
    margin-bottom: .5rem;
}

#list-players > li:hover {
    cursor: pointer;
}

#selected-players-container {
    border: 1px solid black;
    width: 20rem;
    overflow-y: auto;
    height: 25rem;
}

#list-selected {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 100%;
    align-items: center;
    margin: 0;
}

.selected-players {
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }
  }